.overflow {
    overflow-y: auto;
    height: 400px;
    width: 450px;
    overflow-wrap: break-word;
    /* margin-right: 50px; */
    margin-bottom: 50px;
    /* scrollbar-width: 20px !important; */
}
.my-h1 {
  font-size: 32px;
  font-weight: 300;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.center-2{
    display: flex;
    align-items: center;
}
